@import 'https://fonts.googleapis.com/css?family=Raleway';

html,
body {
    margin: 0px;
    background-color: rgb(39, 39, 39);
    color: #FFF;
}


div.container {
    display: flex;
    justify-content: space-between;
    font-family: 20px Raleway;
    margin: 0 auto;
    padding: 2em 3em;
    /* text-align: left; */
}

.nav-left {
    text-align: left;
}

.nav-right {
    text-align: right;
}


div.container a {
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}




.orange {
    background: rgb(53, 53, 53)
}



/* Pull up and down  */
div.pullUpDown a:before,
div.pullUpDown a:after {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    content: '';
    background: #ce590c;
    opacity: 0.5;
    transition: all 0.3s;
}

div.pullUpDown a:before {
    top: 0px;
}

div.pullUpDown a:after {
    bottom: 0px;
}

div.pullUpDown a:hover:before,
div.pullUpDown a:hover:after {
    height: 100%;
}





#cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.item-name {
    font-weight: bold;
}

.item-price,
.item-quantity {
    margin-top: 5px;
}

.item-total-price {
    margin-left: auto;
}

h1 {
    text-align: center;
    font-family: 20px Raleway;
}




.cart-container {
    margin: 71px auto;
    max-width: 875px;
    background-color: rgb(56, 56, 56);
    padding: 20px;
    border-radius: 31px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: rgb(202, 202, 202);
    word-spacing: 4px;
    opacity: 1;

}

.cart-box p {
    margin: 31px;
}

.cart-box strong {
    font-weight: bold;
    font-size: 20px;
    color: #b24f0d;
}

.cart-box input[type="text"] {
    display: inline-block;
    background-color: rgb(118, 118, 118);
    color: rgb(202, 202, 202);
    border-radius: 10px;
    padding: 5px;
    border: 0px;
}

.cart-box input[type="email"] {
    display: inline-block;
    background-color: rgb(118, 118, 118);
    color: rgb(202, 202, 202);
    border-radius: 10px;
    padding: 5px;
    border: 0px;
}

#orderButton {
    border-radius: 10px;
    /* Change the border radius value as per your preference */
    background-color: #ce590c;
    /* Change the color value to '#ff9a57' */
    color: #ffffff;
    /* Change the text color to white */
    padding: 7px 10px;
    /* Adjust the padding as needed */
    font-size: 14px;
    /* Adjust the font size as needed */
    border: none;
    /* Remove the button border if desired */
    cursor: pointer;
}

#bbody {
    padding: 20px;
}

.item-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}