@import 'https://fonts.googleapis.com/css?family=Raleway';

html,
body {
    margin: 0px;
    background-color: rgb(39, 39, 39);
}


div.container {
    display: flex;
    justify-content: space-between;
    font-family: 20px Raleway;
    margin: 0 auto;
    padding: 2em 13em;
    /* text-align: left; */
}

.nav-left {
    text-align: left;
}

.nav-right {
    text-align: right;
}


div.container a {
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}




.orange {
    background: rgb(53, 53, 53)
}



/* Pull up and down  */
div.pullUpDown a:before,
div.pullUpDown a:after {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    content: '';
    background: #ce590c;
    opacity: 0.5;
    transition: all 0.3s;
}

div.pullUpDown a:before {
    top: 0px;
}

div.pullUpDown a:after {
    bottom: 0px;
}

div.pullUpDown a:hover:before,
div.pullUpDown a:hover:after {
    height: 100%;
}









.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #FFF;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dish {
    width: 49%;
    border: 1px solid #66310e;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4%;
}

.dish img {
    max-width: 100%;
}

.dish h2 {
    margin-top: 0;
    color: #FFF;
}

.dish p {
    margin-bottom: 0;
    color: #FFF;
}

#pagination {
    text-align: center;
}


.page-link {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 5px;
    background-color: rgb(107, 107, 107);
    color: rgb(217, 217, 217);
    text-decoration: none;
    border-radius: 4px;
}

.page-link:hover {
    background-color: #ce590c;
    opacity: 0.4;
}





button.addToCart {
    border-radius: 10px;
    /* Change the border radius value as per your preference */
    background-color: #ce590c;
    /* Change the color value to '#ff9a57' */
    color: #ffffff;
    /* Change the text color to white */
    padding: 10px 20px;
    /* Adjust the padding as needed */
    font-size: 16px;
    /* Adjust the font size as needed */
    border: none;
    /* Remove the button border if desired */
    cursor: pointer;
}



.star {
    color: rgb(188, 162, 12);
}






.slide-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.slide-toggle .checkbox {
    display: none;
}

.slide-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(86, 86, 86);
    transition: .4s;
    border-radius: 30px;
}

.slide-toggle .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.slide-toggle .checkbox:checked+.slider {
    background-color: #ce590c;
}

.slide-toggle .checkbox:focus+.slider {
    box-shadow: 0 0 1px #ce590c;
}

.slide-toggle .checkbox:checked+.slider:before {
    transform: translateX(30px);
}

.toggle-label {
    margin-left: 10px;
    vertical-align: middle;
    user-select: none;
}

.slide-toggle-right .slider:before {
    transform: translateX(30px);
}

#filters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    color: whitesmoke;
    font-size: large;
    font-weight: 400;
    /* Adjust the height as needed */
}



label {
    color: white;
    font-size: large;
    font-weight: 400;
    font-size: 20px;
    /* Set font color to white */
}

select {
    background-color: rgb(86, 86, 86, 0.8);
    /* Set background color to transparent white */
    color: white;
    /* Set font color to white */
    border-radius: 12px;
}